
:root {
  --azul-bebe: #8abdd8;
  --laranja-bebe: rgb(255, 123, 0);
  --laranja-claro: rgb(255, 166, 0);
  --verde: #25d366;
  --branco: #fff;
  --cinza: #999;
  --roxinho: #dda0dd;
  --lavanda: #e6e6fa;

}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }

  @media (max-width: 375px) {
    font-size: 80.5%;
  }
}

body {
  background: var(--azul-bebe);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
strong {
  font-family: "Roboto", sans-serif;
}